<!DOCTYPE html>
<html id="index" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Development II Continuous Assessment 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
</head>


<body>
    <h1>Welcome to my Game!</h1>

    <a href="{{url_for('game')}}"><h1>PLAY</h1></a>

    <section id="leaderboard">
        <h1>Leaderboard</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Enemies Killed</th>
                <th>Time Alive</th>
            </tr>

            {% for player in players %}
                <tr>
                    <td>{{player['name']}}</td>
                    <td>{{player['score']}}</td>
                    <td>{{player['enemy_count']}}</td>
                    <td>{{player['time_alive']}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <h2 id="how_to_play">This is a top-down shooter where the player kills enemies to obtain coins and increase their score. The coins collected can be used to purchase new weapons and items in a shop.</h2>
    
    <!-- <script type="module" src="{{url_for('static', filename='canvas.js')}}"></script> -->
</body>

</html>